#navbar{
    background-color: blue;
}
body{
    background-image: linear-gradient(180deg, #040918 0%, #091540 100%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;

}
.top{
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    background-color: hsl(225, 23%, 24%);
    margin: 20px 210px;
    height: 60px;
    width:77%;
}
.top-heading{
    color: white;
    margin-left: 20px;
}
.header-text{
    color: white;
}
.sun-img{
    height: 2rem;
    margin: 10px;
}
.filter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

}
.top-part{
    border-radius: 10px;
    margin:auto;
    margin-top: 10px;
    width: 77%;
    display: flex;
    justify-content: space-between;
}
.btn{
    height: 3rem;
    width: 5rem;
    border: 1px solid white;
    border-radius: 30px;
    background-color: aliceblue;
}
.filter-btn-all{
    height: 3rem;
    background-color: red;
}
.filter{
    align-items: center;
    margin-right: 20px;
}
.filter-btn-all{
    background-color: rgba(242, 92, 84, 1);
}
.container{
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 78%);
    height: 10rem;
    width: 20rem;
    background-color:hsl(225, 23%, 24%);
}
.upper-div{
    display: flex;
    justify-content: space-evenly;
}
h5{
    color: white;
}
p{
    color: white;
}
.right-part{
    margin-left: 20px;
    margin-top: 20px;
}
.container-btn{
    margin-left: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: hsl(226, 11%, 37%);
}
.lower-div{
    display: flex;
    justify-content: space-between;
}
.card-grid{
    overflow: hidden;
    margin-left: 50px;
    width: 90%;
}
.grid-container{
    margin: 20px 200px;
    width: 80%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}